/********************** Start Global Rules **********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  max-width: 1440px;
}
/********************** End Global Rules **********************/
/********************** Start Header **********************/
header {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 60%;
}

header ul {
  list-style: none;
  display: flex;
  margin: 10px;
}
header ul li {
  margin-left: 45px;
}
header ul li a {
  text-decoration: none;
  color: black;
}
header ul li a:hover {
  color: #551a8b;
}
@media (max-width: 425px) {
  header {
    padding: 15px 15px 70px;
  }
  header img {
    width: 60%;
  }
  header ul li {
    margin-left: 15px;
  }
}
/********************** End Header **********************/
/********************** Start Section-1 **********************/
.section-1 {
  padding: 30px 50px;
  display: flex;
  align-items: center;
}
.section-1 h1 {
  font-size: 45px;
  margin-bottom: 20px;
}
.section-1 p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.section-1 img {
  width: 48%;
}
.section-1 input {
  padding: 10px;
  width: 270px;
  outline: none;
}

.section-1 button {
  padding: 13px;
  width: 200px;
  margin-left: 10px;
  color: white;
  background: #3065f8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.section-1 button:hover {
  background: #5683ff;
}

@media (max-width: 425px) {
  .section-1 {
    flex-direction: column-reverse;
    padding: 15px 15px 70px;
  }
  .section-1 img {
    width: 100%;
  }
  .section-1 h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
  }
  .section-1 p {
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
  }
  .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input input {
    margin-bottom: 15px;
    width: 100%;
  }
  .input button {
    width: 100%;
    margin: 0;
  }
}
/********************** End Section-1 **********************/
.bg-curve {
  background-image: url(../images/bg-curve-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}
/********************** Start Section-2 **********************/
.section-2 {
  padding: 20px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8fe;
}

.box h2 {
  margin-bottom: 20px;
  font-size: 35px;
}

.box p {
  line-height: 1.5;
  margin-bottom: 15px;
  padding-right: 145px;
}

.fyloLink {
  color: hsl(170, 45%, 43%);
  position: relative;
  border-bottom: 2px solid #3c9f8f;
  padding-bottom: 5px;
  text-decoration: none;
}
.fyloLink:hover {
  color: #72e4d1;
  border-color: #72e4d1;
}

.fyloLink:hover .fa-arrow-circle-right {
  margin-left: 5px;
}

.section-2 img:nth-child(2) {
  width: 50%;
  height: 50%;
}

.box {
  display: flex;
  flex-direction: column;
}

.card {
  width: 400px;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px 2px #eee, -10px -10px 10px 2px #eee;
}
.quotes {
  width: 15px;
}
.card-img {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.card-box .card p {
  padding: 0;
  line-height: 1.5;
}
.card-img img {
  width: 10%;
  border-radius: 50%;
}
.card-img div {
  margin-left: 10px;
}
.card-img h3 {
  font-size: 15px;
  margin: 0;
}
.card-img p {
  font-size: 10px;
}
@media (max-width: 425px) {
  .bg-curve {
    background-image: url(images/bg-curve-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-2 {
    padding: 15px;
  }
  .section-2 {
    flex-direction: column-reverse;
    padding: 0 0 70px;
    padding-bottom: 50px;
  }
  .section-2 img:nth-child(2) {
    width: 80%;
  }
  .box {
    justify-content: center;
    text-align: center;
  }
  .box h2 {
    font-size: 17px;
    text-align: center;
    padding: 60px 0 10px;
    font-family: "Open Sans", sans-serif;
  }
  .box p {
    font-size: 16px;
    line-height: 1.3;
    padding: 0 25px;
  }
  .fyloLink {
    margin: 100px;
  }
  .card-box {
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 90%;
    padding: 20px 17px 20px 35px;
    text-align: left;
  }
  .card P {
    padding: 0;
    font-size: 12px;
    font-weight: bold;
  }
  .card-img h3 {
    padding: 0;
    font-size: 15px;
    text-align: left;
  }
  .card-img p {
    padding: 0;
    font-size: 10px;
  }
}
/********************** End Section-2 **********************/
/********************** Start Section-3 **********************/
.section-3 {
  padding: 80px 50px;
  background: hsl(238, 22%, 44%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.section-3 h2 {
  margin-bottom: 20px;
}

.section-3 p {
  line-height: 1.5;
}

.email {
  display: flex;
  flex-direction: column;
}
.email input {
  padding: 15px;
  width: 400px;
  outline: none;
  border: none;
  border-radius: 3px;
}
.email button {
  padding: 13px;
  width: 200px;
  color: white;
  background: #3065f8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.email button:hover {
  background: #5683ff;
}
@media (max-width: 425px) {
  .section-3 {
    padding: 60px 20px;
    flex-direction: column;
    text-align: center;
  }
  .section-3 p {
    padding: 35px;
  }
  .email {
    display: block;
  }
  .section-3 input {
    width: 80%;
  }
  .section-3 button {
    width: 80%;
  }
}
/********************** End Section-3 **********************/
/********************** Start Section-4 **********************/
.section-4 {
  padding: 50px;
  background: hsl(243, 87%, 12%);
  color: white;
}
.section-4 img {
  width: 50%;
  margin-bottom: 20px;
}
.section-4 p {
  line-height: 2;
}
.section-4 ul {
  list-style-type: none;
}
.section-4 li {
  margin-bottom: 15px;
  color: white;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 60px;
}
.links a {
  text-decoration: none;
  color: #ffffff;
}
:is(.links-1, .links-2) a:hover {
  color: #551a8b;
}
.links div {
  width: 17%;
  padding: 20px 0;
}
.links div:nth-child(1) {
  margin-top: -55px;
}
.links-1 {
  display: flex;
  flex-direction: column;
}
.links-2 {
  display: flex;
  flex-direction: column;
}

.icons {
  margin: 15px;
}
.icons .fab {
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.8;
  margin-left: 5px;
}
.icons .fab:hover {
  color: #5683ff;
}
@media (max-width: 425px) {
  .section-4 {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
  }
  .section-4 img {
    width: 60%;
    padding-bottom: 15px;
  }
  .section-4 .links {
    display: block;
    width: 100%;
    padding: 0 15px;
  }
  .links div {
    width: 100%;
  }
  .links div:nth-child(1) {
    margin-top: 0;
  }
  .links-1,
  .links-2 {
    padding: 0;
  }
  .icons {
    text-align: center;
    padding: 0;
  }
}
/********************** End Section-4 **********************/
